{% extends "base.html" %}

{% block app_content %}
	<h1>Welcome to Create Your Monster!</h1>
		<hr>
		<div>
			<p>
			The intended purpose of this website is for you to create
			your own character in D&D 5e.
			<br>
			Right now, this site works as a proof-of-concept for my learning of
			<br>
			Flask. A major limitation of my code is the difficulty to test and
			<br>
			therefore more complex development is not possible.
			<br>
			Future work for this website would be to refactor/rebuild it in Django.
			<br>
			My <a href="https://github.com/jan-polivka">GitHub</a>
			</p>
			<button onClick="window.location='/charDet.html'">Create a new character</button>
		</div>
{% endblock %}
